body {
    color: white;
    background: green
}
img {
    background: #a4ae68
}
button {
    color: green
}
form {
    color: green
}
.dark{
    background: #68ae50
}
.light{
    background: #a4ae68
}
.blood{
    background: #A51414
}
a:link {
	color: #82d900;
}
a:visited {
	color: #82d900;
}
a:hover {
	color: #82d900;
}
a:active {
	color: #82d900;
}